//COLORS
$color-blue: #1e71ff;
$color-blue-light: #64d3f1;
$color-blue-background: rgba(30, 113, 255, 0.1);
$color-gray: #2b353e;
$color-light-gray: #aaa;
$color-white: #fff;
$color-black: #000;

//GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;
