.section-about {
  padding: 4rem 0;

  h2 {
    margin-bottom: 2rem;
  }

  p {
    margin: auto;
    margin-bottom: 10rem;
    width: 50vw;
  }

  img {
    display: block;
    margin: auto;
    width: 80vw;
    text-align: center;
  }
}

@include respond-to("medium") {
  .section-about {
    h2 {
      margin-bottom: 10rem;
    }
  }
}
