.section-about {
  width: 100vw;
  padding: 4rem 0;

  h2 {
    margin-bottom: 10rem;
  }

  p {
    margin: auto;
    margin-bottom: 10rem;
    width: 50vw;
  }

  img {
    display: block;
    margin: auto;
    width: 80vw;
    text-align: center;
  }
}
